/*.scroll-pane .viewport {
    -fx-background-image: url('background_1.jpg');
}*/


#boardGC{
    -fx-background-image: url('background_9.jpg');
}
/*
#centerTextArea{
    -fx-background-color: black
}
#centerTextArea .content {
    -fx-background-color: #FEB87C;
}

#mainScrollpane .content{
    -fx-background-image: url('background_9.jpg');
}
*/