
#centerTextArea{
    -fx-background-color: black
}
#centerTextArea .content {
    -fx-background-color: #FEB87C;
}

.scroll-pane {
 -fx-background-color: black;
}

.scroll-pane > .viewport {
 -fx-background-color: #FEB87C;
}

.text-field {
-fx-background-color:
         #ecebe9,
                rgba(0,0,0,0.05),
                linear-gradient(#dcca8a, #c7a740),
                linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
                linear-gradient(#f6ebbe, #e6c34d);
}

.combo-box{
 -fx-background-color:
         #ecebe9,
                rgba(0,0,0,0.05),
                linear-gradient(#dcca8a, #c7a740),
                linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
                linear-gradient(#f6ebbe, #e6c34d);
     -fx-background-radius: 30;
     -fx-background-insets: 0,1,2,3,0;
     -fx-text-fill: #654b00;
     -fx-font-weight: bold;
     -fx-font-size: 10px;
}

.button{
 -fx-background-color:
         #ecebe9,
                rgba(0,0,0,0.05),
                linear-gradient(#dcca8a, #c7a740),
                linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
                linear-gradient(#f6ebbe, #e6c34d);
     -fx-background-radius: 30;
     -fx-background-insets: 0,1,2,3,0;
     -fx-text-fill: #654b00;
     -fx-font-weight: bold;
     -fx-font-size: 10px;
}

.combo-box:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

.button:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.button:pressed {
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

