/*.scroll-pane .viewport {
    -fx-background-image: url('background_1.jpg');
}*/


#boardGC{
    -fx-background-image: url('background_9.jpg');
}

/*
#mainScrollpane{
    -fx-background-image: url('background_9.jpg');
}*/